<p id="notice"><%= notice %></p>

<h1>Quiz Pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Quiz</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quiz_pages.each do |quiz_page| %>
      <tr>
        <td><%= quiz_page.title %></td>
        <td><%= quiz_page.quiz_id %></td>
        <td><%= link_to 'Ver', quiz_quiz_page_path(@quiz, quiz_page) %></td>
        <td><%= link_to 'Editar', edit_quiz_quiz_page_path(@quiz,quiz_page) %></td>
        <td><%= link_to 'Borrar', quiz_quiz_page_path(@quiz,quiz_page), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Quiz', new_quiz_quiz_page_path(@quiz) %>
