<p id="notice"><%= notice %></p>


	<div class="row">

	      <!-- Earnings (Monthly) Card Example -->
	    <div class="col-12">

	    <!-- Default Card Example -->
	    <div class="card mb-4">
	      <div class="card-body">

	      	<%= link_to 'Editar Postulante', edit_applicant_path(@applicant), class: "btn btn-info" %>
	      	<%= link_to 'Agregar Test', new_applicant_applicant_test_path(@applicant), class: "btn btn-warning" %>
			<%= link_to send_test_via_email_applicant_path(@applicant), method: :post, data: { confirm: 'Are you sure?' }  do %>
				<button class="btn btn-success pull-right">Enviar Tests por Correo</button>
			<% end %>

	      </div>
	    </div>


	  </div>

	</div>


<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"><%= @applicant.first_name %> <%= @applicant.last_name %></h1>
</div>


<p>
  <strong>Email:</strong>
  <%= link_to show_applicant_by_token_path(@applicant.token) do %>
  	<%= @applicant.email %>
  <% end %>
  
</p>


<% if @applicant.applicant_tests.count == 0 %>

	<div class="row">
		<!-- Earnings (Monthly) Card Example -->
		<div class="col-12">
			<!-- Default Card Example -->
			<div class="card mb-4">
				<div class="card-header">
					No se han asignado Test a Realizar
				</div>
				<div class="card-body">
					<%= link_to 'Agregue el primer Test', new_applicant_applicant_test_path(@applicant), class: "btn btn-warning" %>
				</div>
			</div>
		</div>
	</div>


<% else %>


	<div class="row">
		<!-- Earnings (Monthly) Card Example -->
		<div class="col-12">
			<!-- Default Card Example -->
			<div class="card mb-4">
				<div class="card-header">
					Test Asignados
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th>Test</th>
								<th>Estado</th>
								<th>Correctas</th>
								<th>Preguntas</th>
								<th>opciones</th>
							</tr>
						</thead>
						<tbody>
							<% @applicant.applicant_tests.each do |test| %>
							<tr>
								<td><%= test.quiz.name %></td>
								<td><span class="badge badge-info"><%= test.applicant_test_status.name %></td>
								<td><%= test.applicant_test_answers.correct.count %></td>
								<td><%= test.quiz.questions.count %></td>
								<td>
									<%= link_to applicant_applicant_test_path(@applicant, test), class: "btn btn-sm btn-info" do %>
										Ver
									<% end %>
									<%= link_to applicant_applicant_test_path(@applicant, test), method: :delete, data: { confirm: 'Seguro(a)?' }, class: "btn btn-sm btn-danger" do %>
										Borrar
									<% end %>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

<% end %>


