<p id="notice"><%= notice %></p>


	<div class="row">

	      <!-- Earnings (Monthly) Card Example -->
	    <div class="col-12">

	    <!-- Default Card Example -->
	    <div class="card mb-4">
	      <div class="card-body">

	      	<%= link_to 'Editar Postulante', edit_applicant_path(@applicant), class: "btn btn-info" %>
	      	<%= link_to 'Agregar Test', new_applicant_applicant_test_path(@applicant), class: "btn btn-warning" %>
			<%= link_to send_test_via_email_applicant_path(@applicant), method: :post, data: { confirm: 'Are you sure?' }  do %>
				<button class="btn btn-success pull-right">Enviar Tests por Correo</button>
			<% end %>

	      </div>
	    </div>


	  </div>

	</div>


<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"><%= @applicant.first_name %> <%= @applicant.last_name %></h1>
</div>


<p>
  <strong>Email:</strong>
  <%= link_to show_applicant_by_token_path(@applicant.token) do %>
  	<%= @applicant.email %>
  <% end %>
  
</p>


<p>
  <strong>Token:</strong>
  <%= @applicant.token %>
</p>



<% @applicant.applicant_tests.each do |test| %>

	<div class="row">

	      <!-- Earnings (Monthly) Card Example -->
	    <div class="col-12">

	    <!-- Default Card Example -->
	    <div class="card mb-4">
	      <div class="card-header">
	      	<%= test.quiz.name %> <span class="badge badge-info"><%= test.applicant_test_status.name %></span>
	      </div>
	      <div class="card-body">
	      	<% if test.applicant_test_status.name == "Completado" %>
	      		<div>
	      			<%= "Nota: #{test.grade}%" %>
	      		</div>
	      		<div>
	      			<%= "Preguntas Correctas: #{test.applicant_test_answers.correct.count}" %>
	      		</div>
	      		<div>
	      			<%= "Cantidad de Preguntas #{test.quiz.questions.count}" %>
	      		</div>
	      	<% end %>
	      	
	      	
	      	<br>
			<%= test.quiz.description %>	        
			<%= link_to applicant_applicant_test_path(@applicant, test), class: "btn btn-facebook" do %>
	          Ver
	        <% end %>
	        <%= link_to applicant_applicant_test_path(@applicant, test), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
	        	Borrar
	        <% end %>
	        
	      </div>
	    </div>


	  </div>

	</div>


<% end %>



