<%= form_with(model: [@applicant, applicant_test] ) do |form| %>
  <% if applicant_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(applicant_test.errors.count, "error") %> prohibited this applicant_test from being saved:</h2>

      <ul>
        <% applicant_test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :due_date, "Fecha Limite" %>
    <%= form.datetime_select :due_date %>
  </div>


  <div class="field">
    <%= form.label :quiz_id %>
    <%= form.collection_select :quiz_id, Quiz.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit "Agregar Test al Postulante", class: "btn btn-info" %>
  </div>
<% end %>
